<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>Welcome to My Pantry</h1>
    <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
    <ul>
        <!-- TODO: use conditional logic to display message if pantry is empty -->
         <% if(pantry.length === 0){ %>
            <p>There are no items in this pantry.</p>
         <% } else { %>
            <% pantry.forEach(item => { %>
                <li>
                    <a href="/users/<%=user._id%>/foods/<%=item._id%>">
                        <%= item.name %>
                    </a>
                </li>
                <% }); %>
         <% } %>
    </ul>
</body>
</html>